<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <ul id="cart-products-list">
      {{#each products}}
        <li>
          Product: {{this.product.title}} - Quantity: {{this.quantity}} - Price: ${{this.product.price}}
          <button onclick="removeFromCart('{{this.product._id}}')">Remove</button>
        </li>
      {{/each}}
    </ul>
    <div>
      <a href="/products">Back to Products</a>
    </div>

    <script>
      function removeFromCart(productId) {
        fetch(`/api/carts/remove-product`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ productId }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            alert('Product removed from cart');
            window.location.reload();
          } else {
            alert('Error removing product from cart');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    </script>
</body>
</html>
